select {

}
input {
    font-size: 0.8vw;
}
h2 {
    font-size: 1vw;
}
.editthis {
    outline: none;
    border: hidden;
    font-size: 0.8vw;
    width: 1vw;
    height:auto;
}
.tooltip {
    position: fixed;
    padding: 0.5vh 0.5vw;
    border: 1px solid #b3c9ce;
    border-radius: 2rem;
    text-align: center;
    font: italic 0.8vw/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    z-index: 400;
    opacity: 0.8;
}
.helpb{
    width:auto;
    height:auto;
}
table {
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*   background: radial-grad@import url('file:///D:\XAMPP\htdocs\c\css\component.css');@import url('file:///D:\XAMPP\htdocs\c\css\component.css');ient(farthest-corner at 50% 50%, white, #DCECF8);*/
    /*    color: #0C213B;*/
}
h3 {
    font-size: 1.2vw;
    color: darkgrey;
}

 caption:before, caption:after {
        content: "\274B";
        color: #A9E2CC;
        margin: 0 1vw;
  }

th {
    border: 0.05rem solid black;
    font-size: 1vw;
    text-decoration-color: azure;
}

th:nth-child(odd) {
    background: #D1C7BF;
}
    td:nth-child(odd) {
        background: #D1C7BF;
    }

td {
    font-size: 1.1vw;
    padding: 0.25vh;
    border: 0.05rem solid black;
    color: #8D8173;
}


tr:hover td {
    background: #E8E6D1;
}



